#container-about {
    background: url("src/assets/image/space-background.png");
    background-size: cover;
    color: $white;
    height: 100vh;
  .title-about {
    font-size: $xxl;
    text-align: center;
  }
  .left-right {
    max-width: 800px;
    margin: 20px auto 0 auto;
  }
}
.onScroll {
  animation: effect 0.3s ease;
}

@keyframes effect {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}