.pinContent {
    max-width: 500px;
    background-color: $black;
    color: $white;
    border: solid 1px $white;
    z-index:1;
    position: relative;
}
.visible {
    display: block;
}

.formations {
    position: absolute;
    left: 5%;
    top: 22%;
}
.competences {
    position: absolute;
    top: 23%;
    left: 70%;
}
.projets {
    position: absolute;
    left: 5%;
    top: 50%;
}
.contact {
    position: absolute;
    top: 55%;
    left: 70%;
}
