@import 'variables';

header {
    background-image: url('src/assets/image/header-background-image.png');
    background-color: $black;
    padding: 30px;
    background-size: cover;
    ul {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        a {
            color: $white;
            font-size: $medium;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            padding: 5px;
            border-radius: 5px;
            &:hover {
                background-color: white;
                color: $black;
            }
        }
    }
}
